header{
    background-color: #333;
    color: #ffff;
    height: 80px;
    margin-bottom: 20px;
}

#books-index{
    text-align: center;
    float: left;
}

#books-index img{
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
}
#books-index btn{
    display: block;
    margin-top: 20px;

}
#books-show h2{
    background: #f4f4f4;
    padding: 10px;
}

// .books-show-left{
//     float: left;
//     width: 40%;
// }
// .books-show-right{
//     float: left;
//     width: 60%;
//     margin-top: 10px;    
// }
// #books-show .btn{
//     margin: 20px 0 0 70px;

// }
@import "bootstrap/scss/bootstrap"
